#mast
  #query
    %h2 Shopping for
    %form{ action: "", id: "friends" }
      %input{ type: "text", id: "name", autofocus: "autofocus" }
      %input{ type: "hidden", id: "friend-id" }
      #name-dropdown
  %div{ style: "clear:both" }
#content
  #friend-results
    #intro
      %p Select a friend to begin!
