#mast
  %h2 Social Data
#content
  #query
    %form{ action: "", id: "friends" }
      %input{ type: "text", id: "name" }
      #name-dropdown
      %input{ type: "hidden", id: "friend-id" }
      %input{ type: "submit", value: "Find" }
  #friend-results
    #intro
      %p Select a friend to begin!
