#mast
  %form{ action: "", id: "friends" }
    %h2 Shopping for
    %input{ type: "text", id: "name" }
    %input{ type: "hidden", id: "friend-id" }
    #name-dropdown
  %div{ style: "clear:both" }
#content
  #friend-results
    #intro
      %p Type a friend to begin!
