#intro
  #mast
    %h2 Intate is an awesome way to find handmade gifts for your friends. 
  #content
    %p
      %a{ href: "/facebook/authorize" } Login with Facebook
      and get started right now!
