#intro
  #mast
    %h2 Intate was an awesome way to find handmade gifts for your friends.
  #content
    %p
      Consider
      %a{ href: "http://etsy.com/gifts" } Etsy Gifts
      instead.
%p{ style: "padding: 5px 3%" }
  Intate was a TC Disrupt NYC 2010 hack project.
%p{ style: "padding: 5px 3%" }
  Etsy engineers loved it.
%p{ style: "padding: 5px 3%" }
  Intate was not sold.
  They launched
  %a{ href: "http://etsy.com/gifts" } Etsy Gifts
  several months after Intate's demo.
%p{ style: "padding: 5px 3%" }
  Around the same time, Etsy disabled their v1 API, which Intate was built on.
  Since they now offer a better product for free, I'm no longer
  maintaining Intate. Feel free to
  %a{ href: "http://github.com/reid/intate" } fork on GitHub
  if you'd like to hack around. It's BSD licensed for your forking pleasure.
  To try Intate anyway, you can still
  %a{ href: "/facebook/authorize" } Login with Facebook
  to get started. I'm working on other cool stuff, see
  %a{ href: "http://github.com/reid" } my GitHub account
  for the goodness.
