#intro
  #mast
    %h2 Intate is an awesome way to find handmade gifts for your friends. 
  #content
    %p
      %a{ href: "/facebook/authorize" } Login with Facebook
      and get started right now!
    %p.sub
      Intate was originally developed and shipped in 12 hours.
      It's pretty basic right now, but I'm working on making
      this service even better.
    %p.sub
      If you're having problems
      using Intate, please come back soon!
