!!! 5
%html{ lang: "en" }
  %head
    %title Welcome to Intate
    %link{ rel: 'stylesheet', href: '/public/css/style.css' }
    %script{ src: '/public/js/app.js' }
  %body
    #header
      %h1
        %a{ href: '/' }  intate
    #main
      #mid
        #content
          != body
