!!! 5
%html{ lang: "en" }
  %head
    %title Intate
    %link{ rel: "stylesheet", href: "http://yui.yahooapis.com/combo?3.1.1/build/cssreset/reset-min.css&3.1.1/build/cssfonts/fonts-min.css" }
    %link{ rel: "stylesheet", href: "/public/rendered/css/layout.css" }
    %link{ rel: "stylesheet", href: "http://yui.yahooapis.com/2.8.1/build/autocomplete/assets/skins/sam/autocomplete.css" }
    %link{ rel: "stylesheet", href: "http://yui.yahooapis.com/2.8.1/build/datatable/assets/skins/sam/datatable.css" }
  %body.yui-skin-sam
    #doc
      #hd
        %h1
          %a{ href: '/' } Intate
          %span is handmade goodness for your friends
      #bd
        != body
      #ft
        %p
          &copy; 2010
          %a{ href: "http://reidburke.com/" } Reid Burke
          &mdash; A <em>TC Disrupt</em> Hack
        %p.sub
          Powered by Etsy, YQL, Heroku, NodeJS &amp; love
          &mdash; Grab the
          %a{ href: "http://github.com/reid/intate" } Source on GitHub
    %script{ src: "http://yui.yahooapis.com/combo?3.1.1/build/yui/yui-min.js&3.1.1/build/loader/loader-min.js" }
    %script{ src: "/public/js/app.js" }
