#intro
  #mast
    %h2 Intate is an awesome way to find handmade gifts for your Yahoo! friends. 
  #content
    %form{ action: "/yap/friend" }
      %p
        Select a friend to get started.
      %p
        %yml:friend-selector{ multiple: "false" }
        %input{ type: "submit", value: "Shop!" }
