#mast
  %h2
    Shopping for
    %yml:name{ uid: guid }
  %div{ style: "clear:both" }
%code#guid{ style: "display:none", title: guid }
#content
  #friend-results
    #intro
      %p Loading...
  %script
    != jscript
