:css
  /*
  Copyright (c) 2010, Yahoo! Inc. All rights reserved.
  Code licensed under the BSD License:
  http://developer.yahoo.com/yui/license.html
  version: 3.1.1
  build: 47
  */
  .yi-intate-body{color:#000;background:#FFF;}.yi-intate-body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}
  .yi-intate-body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
  /* End Yahoo! licensed code. */
  a{color:#004890;}#hd{background:#5ac3e5;}h1{text-transform:lowercase;font:bold 30pt Helvetica,sans-serif;letter-spacing:-2px;text-shadow:1px 1px 1px #5ac3e5;}h1 a{padding:10px;background:#004890;color:#fff;}h1 span{color:#004890;font-weight:normal;font-size:20pt;text-shadow:0;letter-spacing:-1px;}#hd,#content,#mast{border-bottom:1px solid #004890;}#content,#mast{border-color:#ccc;}#hd,#content{padding:10px;}#ft{padding:10px 20px;font-size:10pt;}#ft p{text-align:center;}#ft em{font-weight:bold;}#content .sub{font-size:12pt;}.sub,#ft p,#ft a,.sub a{color:#777;}a{text-decoration:none;}#ft a{text-decoration:underline;}#mast{width:100%;background:#dff;}#mast h2{float:left;padding:10px;font-weight:bold;font-size:30pt;}#intro h2{float:none;font-size:45pt;}#intro{text-align:center;}#intro p{padding:10px;font-size:30pt;}#intro a{font-size:34pt;background:#cfc;border:1px solid #ada;padding:10px;}#mast input{font-size:24pt;}#name{position:static;width:500px;margin:14px;}#name-dropdown{font-size:24pt;width:501px;}#friend-results{font-size:14pt;}#modal .yui3-overlay{background:#004890;padding:15px;}#modal .yui3-overlay-content{background:#fff;color:#000;padding:20px;font-size:17pt;text-align:center;}#modal .yui3-widget-hd{font-weight:bold;border-bottom:1px solid #ccc;padding-bottom:5px;margin-bottom:5px;}#modal .yui3-widget-hd img{float:right;padding:5px;}
%div.yi-intate-body
  %div.yui-skin-sam
    #doc
      #hd
        %h1
          %yml:a Intate
          %span is handmade goodness for your friends
      #bd
        != body
      #ft
        %p
          &copy; 2010
          %a{ href: "http://reidburke.com/" } Reid Burke
          &mdash;
          %a{ href: "http://github.com/reid/intate" } Source on GitHub
          &mdash;
          Also available in
          %a{ href: "http://intate.com/" } Facebook flavor
    #modal
